body {
    font-family: "Protest Riot", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0D0D0D;
    background-image: url(background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    flex-direction: row;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #2980b9;
}