body {
    font-family: "Protest Riot", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0D0D0D;
    background-image: url(background.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    min-width: 500px;
}

.container {
    text-align: center;
    flex-direction: row;
}

.btn {
    display: inline-block;
    padding: 1vw;
    background-color: #1c5a83;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 20vw;
    font-size: 500%;
    width: 100%;
    margin: 3vh;
    cursor: pointer;
}

.btn:hover {
    background-color: #1a8bd6;
}
@media screen and (max-width: 900px) {
    .textback {
        font-size: 100%;
        border-radius: 10px;
        min-width: 100px;
    }
}
