body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}

.container {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.image-box {
    width: calc(50% - 20px);
    max-width: 800px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #1a1919;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.568);
    transition: all 0.3s ease;
}

.image-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.2);
}

.image-box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.text-box {
    text-align: center;
    margin-top: 10px;
}

.btnhome {
    display: inline-block;
    padding: 1vw;
    background-color: #1c5a83;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 20vw;
    font-size: 2vw;
    width: 10vw;
    margin: 3vh;
    cursor: pointer;
}
.btnhome:hover {
    background-color: #1a8bd6;
}

.heading{
    font-size: 90px;
}
