body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
    
}

.container {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 100%;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    flex-direction: row;
}

.image-box {
    width: 30vw;
    height: 55vh;
    margin: 0.5vw;
    padding: 20px;
    background-color: #1a1919;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.568);
    transition: all 0.3s ease;
}

.image-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.2);
}

.image-box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.text-box {
    text-align: center;
    margin-top: 10px;
    font-size: 120%;
}

.image-box img{
    width: 29vw;
    height: auto;
}
