.container {
    display: flex;
    flex-direction: column;
}

.elements {
    width: 60vw;
    height: 10vh;
    padding-left: 0vw;
    padding-right: 5vw;
    margin-top: 1vh;
    background-color: aqua;
}
.inside {
    flex-direction: row;
    padding: 1vw;
    margin: 0vw;
}
.table {
    width: 60vw;
    height: 10vw;
}